### Tax calculator function:

In [1]:
def tax_calculator(tax_info, income):    
    result, lower_limit = 0, 0
    tax_info_2 = tax_info + [(float('inf'), tax_info[-1][1])]
    for upper_limit, rate in tax_info_2:
        if income > upper_limit:
            result += (upper_limit - lower_limit) * rate
        else:
            result += (income - lower_limit) * rate
            return result
        lower_limit = upper_limit

In [2]:
my_tax_info = [(50000, 0.08), (100000, 0.10), (150000, 0.15), (200000, 0.20)]
my_income = 225000

tax_calculator(my_tax_info, my_income)

31500.0

### Try it in a different way:

In [40]:
my_tax_info = [(50000, 0.08), (100000, 0.10), (150000, 0.15), (200000, 0.20)]
my_income = 120000

def tax_calculator_2(tax_info, income):
    tax_info_2 = [(0,0.08)] + tax_info + [(float('inf'), tax_info[-1][1])]
    lb = list(zip(*tax_info_2))[0][:-1]
    ub = list(zip(*tax_info_2))[0][1:]
    rate = list(zip(*tax_info_2))[1][1:]
    all_in_one = zip(lb, ub, rate)
    #print(list(all_in_one))
    
    print([(ub-lb)*rate if income>ub else (income-lb)*rate for lb,ub,rate in all_in_one])
    #return sum([(ub-lb)*rate if income>ub else (income-lb)*rate for lb,ub,rate in all_in_one])

tax_calculator_2(my_tax_info, my_income)

[4000.0, 5000.0, 3000.0, -6000.0, -16000.0]

### Calculate some correct inputs/outputs

In [39]:
# expected outputs for different income inputs:

# my_income = 25000 -->  25000 * 0.08  --> 2000.0   # OK
# my_income = 50000 -->  50000 * 0.08  --> 4000.0   # OK
# my_income = 75000 -->  50000 * 0.08 + 25000 * 0.1 =  6500.0    # OK
# my_income = 100000  -->  50000 * 0.08 + 50000 * 0.1 = 9000.0   # OK
# my_income = 125000  -->  50000 * 0.08 + 50000 * 0.1  + 25000 * 0.15 = 12750.0   # OK
# my_income = 150000  -->  50000 * 0.08 + 50000 * 0.1  + 50000 * 0.15 = 16500.0   # OK
# my_income = 175000  -->  50000 * 0.08 + 50000 * 0.1  + 50000 * 0.15 + 25000 * 0.2 = 21500.0   # OK
# my_income = 200000  -->  50000 * 0.08 + 50000 * 0.1  + 50000 * 0.15 + 50000 * 0.2 = 26500.0   # OK
# my_income = 225000  -->  50000 * 0.08 + 50000 * 0.1  + 50000 * 0.15 + 75000 * 0.2 = 31500.0   # OK

50000 * 0.08 + 50000 * 0.1 + 50000 * 0.15 + 75000 * 0.2

31500.0